.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 670px;

    h3{
        font-family: lucida sans;
        font-size: 1.5rem;
    }

    .container__buttons{
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;

        button{
            padding: 10px 15px;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            color: black;
            cursor: pointer;
            transition: all 1s;
            &:hover{
                background-color: rgb(188, 188, 254);
                
            }
        }
        .select{
            background-color: rgb(79, 79, 251);
            color: white;
            transition: all 1s;
            &:hover{
                background-color: rgb(79, 79, 251);

            }
        }
    }

}

@media screen and (max-width: 968px){
    .container{
        width: 350px;
        justify-content: center;
        h3{
            font-size: 1.3rem;
        }

        .container__buttons{
            width: auto;
            justify-content: flex-end;

            button{
                padding: 5px 10px;
                margin-left: 1rem;
            }
        }
    }
}